<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RPS-Chat</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid justify-content-start">
                        <h1 class="nav-text"><a class="navbar-brand" href="/">RPS-Chat </a></h1>
                    </div>
                </nav>
            </header>
            <main>
                {{{body}}}
            </main>
        </div>
        <script src="../../javascript/index.js"></script>
        <script src="../../javascript/login.js"></script>
    </body>
</html>