<div class="container">

    <!--text box goes here -->
    <div class="#"> 
        <ul>

        </ul>

    </div>
    <div class="input-group">
        <textarea class="form-control" aria-label="Send" placeholder="Type something..."></textarea>
        <span class="input-group-text"></span>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/socket.js"></script>