<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RPS-Chat </a>
    </div>

    <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button" action="/login">Main button</button>
    </form>
</nav>