<div class="container padding">
	<div class="row">
		<div class="col-7">
			<!--sign up-->

			<div class="card text-center">
			<div class= "card-body">

			<p><strong>RPS-Chat</strong> is a simple profile based chat application with 3 rooms to choose from: Rock, Paper, or Scissors. <br />
			What will you choose?</p>

					<form class="signup-form">
						<label for="signup" class="form-label">Create an Account</label>
						<div class="mb-3">
							<input type="text" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="mb-3">
							<input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="usernameHelp">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Start Chatting</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-5">
		<div class="card">
			<div class= "card-body">

		
			<!--login-->

					<form class="login-form">
						<label for="login" class="form-label">Already Have an Account?</label>
						<div class="mb-3">
							<input type="text" class="form-control" id="login-username" placeholder="Username" aria-describedby="usernameHelp">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="login-password" placeholder="Password">
						</div>
						<label for="specify-room" class="form-label">Pick Your Room:</label>
						<div class="d-grid mx-auto" role="group">
						<button type="radio" class="btn btn-primary">Rock</button>
						<button type="radio" class="btn btn-danger">Paper</button>
						<button type="radio" class="btn btn-dark">Scissors</button>
						</div>
						<a class="btn btn-primary" id="signInBtn">Sign In</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script "../../javascript/login.js"></script>





