<div class="container">
	<div class="row">
		<div class="col-8">
			<!--sign up-->

			<div class="card text-center">
			<div class= "card-body">

			<p><strong>RPS-Chat</strong> is a simple profile based chat application with 3 rooms to choose from: Rock, Paper, or Scissors. <br />
			What will you choose?</p>

					<form>
						<label for="signup" class="form-label">Create an Account</label>
						<div class="mb-3">
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="mb-3">
							<input type="username" class="form-control" id="username" placeholder="Username" aria-describedby="usernameHelp">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Start Chatting</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-4">
		<div class="card">
			<div class= "card-body">

		
			<!--login-->

					<form>
						<label for="login" class="form-label">Already Have an Account?</label>
						<div class="mb-3">
							<input type="username" class="form-control" id="username" placeholder="Username" aria-describedby="usernameHelp">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<label for="specify-room" class="form-label">Pick Your Room:</label>
						<div class="btn-group" role="group" aria-label="Basic mixed styles example">
						<button type="radio" class="btn btn-primary">Rock</button>
						<button type="radio" class="btn btn-danger">Paper</button>
						<button type="radio" class="btn btn-dark">Scissors</button>
						</div>
						<a class="btn btn-primary" href="/chat" id="signInBtn">Sign In</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>






